@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=DM+Sans&display=swap');

.component-timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.text-timer {
    color: #D75050;
    font-family: 'DM Mono', monospace;
    font-size: 180px;
    transition-duration: 0.2s;
}

.button-toggle, .button-reset {
    background-color: #3E3E42;
    border: none;
    color: #D75050;
    font-family: 'DM Sans', sans-serif;
    font-size: 36px;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    transition-duration: 0.2s;
    margin-left: 20px;
    margin-right: 20px;
}

.button-toggle:hover, .button-reset:hover {
    background-color: #D75050;
    color: #3E3E42;
}

.button-toggle:active, .button-reset:active {
    background-color: #D75050;
    color: #3E3E42;
    transform: translateY(4px);
}

@media screen and (max-width: 600px) {

    .text-timer {
        font-size: 90px;
    }

    .button-toggle, .button-reset {
        
        font-size: 24px;
        width: 120px;
        height: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }

}

.arrow, .arrow:before {
    position: absolute;
    left: 50%;
}

.arrow {
    width: 40px;
    height: 40px;
    top: 90%;
    margin: -20px 0 0 -20px;
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #D75050 solid;
    border-bottom: 2px #D75050 solid;
}
  
.arrow:before {
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px #D75050 solid;
    border-bottom: 1px #D75050 solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}

@keyframes arrow {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }
    
}
